{% extends 'base.html' %}

{% block title %}
    Department Details
{% endblock %}

{% block content %}
    {% include 'common/../nav-bar.html' %}

    <h1>This Is The Department Details Page</h1>

    <div>
        {{ department.name }}
        <li>
            {{ department.description }}
        </li>
    </div>

    {% if perms.departments.delete_department %}
        <a href="{% url 'delete department' department.pk %}">Delete Department</a>
    {% endif %}

    {% if perms.departments.change_department %}
        <a href="{% url 'edit department' department.pk %}">Edit Department</a>
    {% endif %}


{% endblock %}
