<header>
    <nav>
        <div class="navbar">
            <a href="{% url 'home page' %}">Home</a>
            <a href="{% url 'departments list' %}">Departments List</a>
            <a href="{% url 'employees list' %}">Employees List</a>
            
            <form action="{% url 'logout' %}" method="post" style="display: inline">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>

{# TODO fix the nav bar, make everything link or button #}